body
{
    background: black;
    color: white;
}
table
{
    border-collapse: collapse;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
td
{
    width: 12px;
    height: 12px;
    border: .5px solid black;
    text-align: center;
    vertical-align: center;
    font-family: monospace;
    font-size: 18px;
    position: relative;
}
.pixel-index
{
    font-size: 10px;
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 2px;
    color: white;
}